.main {
    display: grid;
    grid-gap: 50px;

    height: min-content;
}

.author {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.author > .info {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    grid-gap: 15px;
}

.author > .info > img {
    height: 50px;
    border-radius: 50%;
}

.share {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 10px;
}

.wrapper {
    display: grid;
    grid-gap: 20px;
}

.wrapper > .header {
    display: grid;
    grid-gap: 5px;
}