.wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
}

.author {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 5px;
    align-items: center;
}

.content {
    display: grid;
    grid-gap: 5px;
}